.answer {
    padding-top: 7px;
    height: 45px;
    color: black;
    padding-left: 14px;
    background-color: white;
    border-radius: 4px;
  }
  
  .img-wrong {
    margin-top: 40px;
  }
  
  .first-answer {
    margin-top: 40px;
  }

  .img{

    height: 250px;
    width: 300px;
  }
  
  .reset-button {
    margin-top: 40px;
  }
  
  .summary-correct {
    margin-top: 45px;
  }
  
  body {
    background: url(/assets/images/solar_flare.jpeg);
 
  }
  .jumbotron {
    box-sizing: border-box;
    height: 600px;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .main-button-container {
    margin-top: 180px;
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .timer-p {
    margin-top: 50px;
  }
  
  .answer:hover {
    background: yellow
    
  }

  .universe{

    font-family: 'Merienda', cursive;
    font-weight:bold;
    letter-spacing: 3px;
    size: 90px;
  }
  
